.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  min-width: 100%;
  color: rgb(138, 0, 0);
  font-style: italic;
  font-weight: bolder;
  font-size: 30px;
  padding-top: 75px;
  background-color: rgb(225, 213, 213);
}
